@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

@layer base {
    @font-face {
      font-family: "SourceSansPro";
      font-weight: 200;
      src: url('./fonts/SourceSansPro/SourceSansPro-ExtraLight.ttf');
    }
    @font-face {
      font-family: "SourceSansPro";
      font-weight: 300;
      src: url('./fonts/SourceSansPro/SourceSansPro-Light.ttf');
    }
    @font-face {
      font-family: "SourceSansPro";
      font-weight: 400;
      src: url('./fonts/SourceSansPro/SourceSansPro-Regular.ttf');
    }
    @font-face {
      font-family: "SourceSansPro";
      font-weight: 600;
      src: url('./fonts/SourceSansPro/SourceSansPro-SemiBold.ttf');
    }
    @font-face {
      font-family: "SourceSansPro";
      font-weight: 700;
      src: url('./fonts/SourceSansPro/SourceSansPro-Bold.ttf');
    }
    @font-face {
      font-family: "SourceSansPro";
      font-weight: 900;
      src: url('./fonts/SourceSansPro/SourceSansPro-Black.ttf');
    }
  
    @font-face {
      font-family: "Oswald";
      font-weight: 200;
      src: url('./fonts/Oswald/Oswald-ExtraLight.ttf');
    }
    @font-face {
      font-family: "Oswald";
      font-weight: 300;
      src: url('./fonts/Oswald/Oswald-Light.ttf');
    }
    @font-face {
      font-family: "Oswald";
      font-weight: 400;
      src: url('./fonts/Oswald/Oswald-Regular.ttf');
    }
    @font-face {
      font-family: "Oswald";
      font-weight: 500;
      src: url('./fonts/Oswald/Oswald-Medium.ttf');
    }
    @font-face {
      font-family: "Oswald";
      font-weight: 600;
      src: url('./fonts/Oswald/Oswald-SemiBold.ttf');
    }
    @font-face {
      font-family: "Oswald";
      font-weight: 700;
      src: url('./fonts/Oswald/Oswald-Bold.ttf');
    }

    @font-face {
      font-family: "BubblerOne";
      font-weight: 700;
      src: url('./fonts/BubblerOne/BubblerOne-Regular.ttf');
    }
  }
  